<!doctype html>
<html lang="en">
	<head>
	<meta charset="UTF-8" />
	<meta name="robots" content="index, follow">
	<meta property="og:url" content="http://okupa.do" />
	<meta property="og:title" content="Okupa">
	<meta property="og:site_name" content="Okupa" />
	<meta property="og:determiner" content="the" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="Okupa | En Kayud guiamos tus inversiones hacia el éxito. Somos especialistas en bienes raíces y asesoría financiera en República Dominicana.">
	<meta name="description" content="Okupa | En Kayud guiamos tus inversiones hacia el éxito. Somos especialistas en bienes raíces y asesoría financiera en República Dominicana.">
	<meta name="keywords" content="agencia inmobiliaria en Santo Domingo, agencia inmobiliaria en Punta Cana, agencia inmobiliaria en República Dominicana, casas en venta en Santo Domingo, casas en venta en Punta Cana, casas en venta en República Dominicana, apartamentos en venta en Santo Domingo, apartamentos en venta en Punta Cana, apartamentos en venta en República Dominicana, propiedades en renta en Santo Domingo, propiedades en renta en Punta Cana, propiedades en renta en República Dominicana, casas frente a la playa en Punta Cana, casas frente a la playa en República Dominicana, propiedades de lujo en Santo Domingo, propiedades de lujo en Punta Cana, propiedades de lujo en República Dominicana, bienes raíces en Santo Domingo, bienes raíces en Punta Cana, bienes raíces en República Dominicana, casas económicas en Santo Domingo, casas económicas en Punta Cana, casas económicas en República Dominicana, apartamentos económicos en Punta Cana, apartamentos económicos en República Dominicana, terrenos en venta en Punta Cana, terrenos en venta en Santo Domingo, terrenos en venta en República Dominicana, solares en venta en Punta Cana, solares en venta en Santo Domingo, solares en venta en República Dominicana, inmuebles comerciales en Santo Domingo, inmuebles comerciales en Punta Cana, inmuebles comerciales en República Dominicana, venta de propiedades en Santo Domingo, venta de propiedades en Punta Cana, venta de propiedades en República Dominicana, alquiler de propiedades en Santo Domingo, alquiler de propiedades en Punta Cana, alquiler de propiedades en República Dominicana, mercado inmobiliario en Santo Domingo, mercado inmobiliario en Punta Cana, mercado inmobiliario en República Dominicana, propiedades de inversión en Santo Domingo, propiedades de inversión en Punta Cana, propiedades de inversión en República Dominicana, asistencia para reubicación en Santo Domingo, asistencia para reubicación en Punta Cana, asistencia para reubicación en República Dominicana, ventas de terrenos en Santo Domingo, ventas de terrenos en Punta Cana, ventas de terrenos en República Dominicana, ventas de solares en Santo Domingo, ventas de solares en Punta Cana, ventas de solares en República Dominicana">
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/o-favicon.svg" />
	<meta name="generator" content={Astro.generator} />
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-7JBXEDRMFL"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-7JBXEDRMFL');
	</script>
	<script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0128/4667.js" async="async"></script>
	<title>Okupa</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
